body {
	font-family: sans-serif;
	background-color: #f0f0f0;
	color:#ffffff;
	margin: 0px;
	overflow: hidden;
	scrollbar-width: none;
}

.header {
    position: absolute;
    padding: 20px 50px;
    /* background: rgba(0,0,0,0); */
    color: rgba(200, 200, 200, 1);
    text-shadow: 0 0 4px  rgba(0, 0, 0, .9);
    font-size: 16px;
  }

.button {
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: rgba(250, 250, 250, 1);
    position: absolute;
    right: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.4;
    z-index: 1;
}

.button:hover {
    opacity: 1;
    box-shadow: 0 0 3px 2px rgb(176, 176, 176);;
}

.button-description {
    white-space: nowrap;
    position: absolute;
    right: 50%;
    /* background-color: rgba(250, 255, 250, 0); */
    transition: right 200ms, opacity 200ms;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
}

.button:hover .button-description {
    visibility: visible;
    right: 125%;
    opacity: 0.75;
}

.button-description p {
    padding: 0;
    margin: 0;
    color: rgba(200, 200, 200, .9);
    font-size: 18px;
    text-shadow: 0 0 3px  rgba(0, 0, 0, .8);
}

#add_to_cart {
    bottom: 30px;
    background-image: url("icons/cart2.png");
    background-size: 60%;
}

#home {
    bottom: 100px;
    background-image: url("icons/home.png");
    background-size: 60%;
}


.dropdown {
    width: 90px;
    white-space: nowrap;
    color: black;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 30px;
    cursor: pointer;
    opacity: 0.8;
    font-size: 18px;
    transition: width 200ms;
    z-index: 1;
    text-align: center;
    border: none;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 80%;
    background-color: rgba(220, 220, 220, 0.6);
    min-width: 160px;
    /* box-shadow: 0 0 5px 2px rgb(176, 176, 176); */
    transition: left 100ms, opacity 100ms;
    z-index: 1;
    font-size: 16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(220, 220, 220, 1);
}
.dropdown:hover .dropdown-content {
    left: 100%;
    visibility: visible;
}
.dropdown:hover {
    width: 110px;
    opacity: 1;
    /* box-shadow: 0 0 5px 2px rgb(176, 176, 176);; */
}